/* H1 */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
/* H2 */
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
/* H3 */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); 
/* Textos, listas sei lá */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* ------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{

    margin: 0;
    background: url(imagens/fundo-site.png);
    background-repeat: repeat;
    background-size: contain;
    background-size: 500px;

}

header{

    position: relative;

}

.banner{

    position: relative;
    background: url(imagens/gato-cachorro-sala.jpg) no-repeat center center;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.banner::before {

    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;

}

.banner h1, .banner button {
    
    position: relative;
    z-index: 2; 
    color: #fff;

}

.informacoes-banner{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5em;
    margin-bottom: 5em;

}

.banner h1{

    font-family: 'Fredoka', sans-serif;
    font-size: 60px;

}

.banner button{

    padding: 15px 10px;
    border-radius: 10px;
    border: none;
    background-color: #dc8850;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;

}

.banner button:hover{

    background-color: #f8b98f;
    transition: 0.5s;

}

.banner > * {

    position: relative;
    z-index: 2; 

}

.navbar{

    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    background: url(imagens/fundo-pets.png);
    background-repeat: repeat;
    background-size: contain;
    background-size: 300px;

}

.navbar nav{

    display: flex;
    gap: 40px;
    font-family: "Lato", sans-serif;

}

.navbar nav a{

    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-size: 18px;

}

.navbar div img{

    margin: 10px;

}

header nav .ativo{

    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #9b8507;
    text-decoration-style: dotted;
    text-decoration-skip-ink: none;

}

main{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
    margin-bottom: 10em;

}

.adocao-section {

    max-width: 1300px;
    margin: 0 auto;
    padding: 2em 1em;

}


.cabecalho-pets{

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cabecalho-pets h2{

    font-family: 'Chewy', system-ui;
    font-weight: normal;
    font-size: 50px;
    color: #2c3e50;

}

.filtro-opcoes{

    display: flex;
    flex-direction: row;
    gap: 10em;
    margin-bottom: 5em;

}

.filtro-opcoes li{

    border: 2px solid #b99d22;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #fedd49;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    list-style-type: none;
    cursor: pointer;

}

.container-input{

    position: relative;

}

.container-input i{

    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #dc8850;
    pointer-events: none;

}

.container-input input{

    padding: 0px 5px 0px 30px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #dc8850;
    transition: 0.5s;

}

.container-input input:focus{

    outline: none;
    transition: 0.5s;
    border-color: #f86300;
    background-color: #f7bd8e;

}

.pets-adocao{

    display: flex;
    flex-wrap: wrap; 
    gap: 2em;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 300px); 
}

.pets-disponiveis{

    transition: 0.5s;
    background-color: #31a0af;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.imagens-adocao img{

    height: 300px;
    width: 300px;
    object-fit: cover;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;

}

.informacoes-pet p{

    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 1px;

}

.informacoes-pet{

    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: 'Lato', sans-serif;

}

.informacoes-pet button{

    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #dc8850;
    font-size: 16px;    
    align-self: center;
    font-weight: bold;
    color: white;
    margin-top: 2em;
    transition: 0.5s;
    cursor: pointer;

}

.informacoes-pet button:hover{

    transition: 0.5s;
    background-color: #f8b98f;

}

.pets-disponiveis:hover {

    animation: treme 0.2s ease-in-out;
    animation-iteration-count: 1;

}

@keyframes treme {

    0%   { transform: translateX(0); }
    25%  { transform: translateX(-3px); }
    50%  { transform: translateX(3px); }
    75%  { transform: translateX(-3px); }
    100% { transform: translateX(0); }

}

#filhotes-gatos:hover{

    background-color: #cfd88b;

}

#filhotes-cachorros:hover{

    background-color: #f86300;

}

#adultos-cachorros:hover{

    background-color: #2c3e50;

}

#adultos-gatos:hover{

    background-color: #b99d22;

}

.faixa-footer{

    width: 100%;
    height: 30px;
    background: url('imagens/faixa.jpg') repeat-x;
    background-size: auto 30px; 

}

.faixa-footer img {

    display: block;
    width: 100%;
    object-fit: cover;

}

footer{

    position: relative;
    background: url('imagens/fundo-footer.png');
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.logo-footer{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo-footer h1{

    font-family: 'Fredoka', sans-serif;
    margin-top: -1em;
    color: #2c3e50;
        
}

.nav-footer{

    display: flex;
    gap: 3em;
    margin-top: 7em;

}

.nav-footer .ajuda i{

    border: 5px solid #2c3e50;
    border-radius: 50%;
    padding: 30px;
    font-size: 35px;

}

.nav-footer .ajuda{

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2c3e50;
}

.nav-footer .ajuda a{

    text-decoration: none;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;

}

.outra-nav-footer{

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2em;

}

.outra-nav-footer a{

    color: #2c3e50;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding-left: 10px;

}

.outra-nav-footer i{

    font-size: 20px;
    border-radius: 50%;
    padding: 5px;
    border: 3px solid #2c3e50;

}

.ondinhas-footer{

    width: 100%;     
    overflow: hidden;
    margin-top: -10 em;

}

.ondinhas-footer svg {

    display: block;
    width: 100%;
    height: auto;

}